<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <profiles>

          <profile>
          <id>jboss-eap-repository</id>
          <repositories>
            <repository>
              <id>jboss-eap-repository</id>
              <name>JBoss EAP Maven Repository</name>
              <url>file:///home/kpeeples/jboss-eap-6.1.1.GA-maven-repository</url>
              <layout>default</layout>
              <releases>
                <enabled>true</enabled>
                <updatePolicy>never</updatePolicy>
              </releases>
              <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
              </snapshots>
            </repository>
          </repositories>
          <pluginRepositories>
            <pluginRepository>
              <id>jboss-eap-repository-group</id>
              <name>JBoss EAP Maven Repository</name>
              <url>file:///home/kpeeples/jboss-eap-6.1.1.GA-maven-repository</url>
              <layout>default</layout>
              <releases>
                <enabled>true</enabled>
                <updatePolicy>never</updatePolicy>
              </releases>
              <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
              </snapshots>
            </pluginRepository>
          </pluginRepositories>
        </profile>
    <!-- Configure the JBoss GA Maven repository -->
    <profile>
      <id>jboss-ga-repository</id>
      <repositories>
        <repository>
          <id>jboss-ga-repository</id>
          <url>file:///home/kpeeples/fsw-6.0.0.GA-redhat-2-repository</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-ga-plugin-repository</id>
          <url>file:///home/kpeeples/fsw-6.0.0.GA-redhat-2-repository</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    
  </profiles>
  
  <servers>
      <server>
      <id>local-sramp-repo</id>
      <username>fswAdmin</username>
      <password>redhat1!</password>
    </server>
    <server>
      <id>local-sramp-repo-snapshots</id>
      <username>fswAdmin</username>
      <password>redhat1!</password>
    </server>
  </servers>    
    

  <activeProfiles>
    <!-- Optionally, make the repositories active by default -->
    <activeProfile>jboss-eap-repository</activeProfile>
    <activeProfile>jboss-ga-repository</activeProfile>
  </activeProfiles>

</settings>